/*#region === Osnova === */
body {
    font-family: "Poppins", serif;
    margin: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.625;
    color: #22343d;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
}

ul,
ol {
    padding: 0;
    margin: 0;
    list-style: none;
}

a {
    text-decoration: none;
    display: block;
    margin: 0;
    padding: 0;
}

button {
    cursor: pointer;
    font-family: inherit;
    display: block;
    font-weight: 700;
    font-size: 16px;
    color: #fff;
}

img {
    display: block;
    object-fit: cover;
    max-width: 100%;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

.container {
    padding: 0 20px;
    max-width: 1150px;
    margin: 0 auto;
    background-color: #fff;
}

address {
    font-style: normal;
}

/*#endregion === Osnova === */


/*#region === Header === */

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigation-header {
    display: flex;
    align-items: center;
}

.header-logo {
    display: flex;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 30px;
    line-height: 0.93333;
    color: #173a56;
    margin: 0;
    padding: 26px 0;
    align-items: center;
    margin-right: 237px;
    gap: 16px;
}

.nav-list {
    display: flex;
    gap: 30px;
    align-items: center;
}

.nav-list-item {
    align-items: center;
}

.nav-item-link {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.75;
    color: #22343d;
    padding: 26px 0;
}

.actived {
    font-weight: 600;
    font-size: 16px;
    line-height: 1.75;
    color: #22343d;
}

.list-but {
    display: flex;
    margin: 0;
    padding: 26px 0;
    margin-left: 73px;
    margin-right: 3px;
    gap: 21px;
    margin-left: auto;
}

.list-but-item {
    align-items: center;
    font-weight: 600;
    font-size: 16px;
    text-align: center;
}

.button-in {
    border: 1px solid #bcd0e5;
    border-radius: 4px;
    width: 105px;
    height: 42px;
    background-color: #fff;
    color: #173a56;
}

.button-up {
    color: #fff;
    border-radius: 4px;
    width: 113px;
    height: 42px;
    background-color: #02897a;
    border: none;
}

/*#endregion === Header === */



/* #region Product Page */

/*#region === Section 1 === */

.hero {
    padding-bottom: 100px;
    padding-top: 25px;
}

.hero .container {
    display: flex;
    justify-content: space-between;
}

.hero-title {
    max-width: 400px;
    font-weight: 700;
    font-size: 40px;
    line-height: 1.5;
    color: #22343d;
    margin-right: 48px;
    margin-top: 112px;
    margin-bottom: 18px;
}

.hero-descr {
    max-width: 500px;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.56;
    color: #22343d;
    margin-right: 35px;
    margin-bottom: 45px;
}

.hero-list-buttons {
    display: flex;
    align-items: center;
    gap: 30px;
    margin: 0;
}

.button-get {
    font-weight: 700;
    font-size: 16px;
    color: #fff;
    border-radius: 4px;
    width: 178px;
    height: 53px;
    background-color: #02897a;
    border: none;
}

.button-watch {
    font-weight: 600;
    font-size: 16px;
    display: flex;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #02897a;
    width: 137;
    height: 24px;
    border: none;
    gap: 9px;
    text-decoration: underline;
    background-color: #fff;
}

/*#endregion === Section 1 === */

/*#region === Section 2 === */

.product-section {
    display: block;
}

.product-title {
    font-weight: 700;
    font-size: 32px;
    text-align: center;
    color: #22343d;
    max-width: 500px;
    margin: 0 auto;
}

.product-item {
    width: calc((100% - 3 * 30px) / 4);
}

.product-list {
    display: flex;
    gap: 30px;
    margin-bottom: 50px;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
}

.h-product {
    font-weight: 600;
    font-size: 22px;
    color: #22343d;
    margin-bottom: 13px;
    text-align: left;
}

.p-product {
    text-align: left;
}

.button-product {
    font-weight: 700;
    font-size: 16px;
    color: #fff;
    border-radius: 4px;
    width: 175px;
    height: 53px;
    align-self: center;
    background: #02897a;
    border: none;
    margin: 0 auto;
}

.icon-product {
    margin-bottom: 26px;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}

/*#endregion === Section 2 === */

/*#region === Section 3 === */

.management-section {
    padding-top: 0;
    padding-bottom: 100px;
}

.mng-div {
    display: flex;
    flex-direction: column;
    max-width: 486px;
}

.management-section .container {
    justify-content: space-between;
    display: flex;
}

.mng-title {
    font-weight: 600;
    font-size: 16px;
    color: #22343d;
    margin-top: 100px;
}

.mng-osn {
    display: flex;
    flex-wrap: wrap;
    max-width: 250px;
    font-weight: 700;
    font-size: 32px;
    color: #22343d;
    margin-bottom: 25px;
    gap: 8px;
}

.mng-p {
    margin-bottom: 30px;
}

.mng-h {
    font-weight: 600;
    font-size: 16px;
    line-height: 1.625;
    color: #22343d;
    margin-bottom: 12px;
}

.mng-last {
    margin-bottom: 25px;
}

/*#endregion === Section 3 === */

/*#region === Section 4 === */

.support-section {
    padding-top: 0;
    padding-bottom: 100px;
}

.support-section .container {
    display: flex;
    justify-content: space-between;
}

.support-div {
    display: flex;
    flex-direction: column;
    max-width: 437px;
}

.support-h {
    font-size: 16px;
    color: #22343d;
    font-weight: 600;
}

.support-osn {
    font-size: 32px;
    margin-bottom: 25px;
    font-weight: 700;
    color: #22343d;
    max-width: 304px;
    display: flex;
}

.support-p {
    margin-bottom: 30px;
}

.support-list {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.support-icon-div {
    display: flex;
    border: 2.92px solid #fff;
    border-radius: 14px;
    width: 35px;
    height: 35px;
    background: #f90;
    justify-content: center;
    align-items: center;
    margin-top: 8px;
    margin-bottom: 8px;
    margin-right: 30px;
    flex-shrink: 0;
}

.red {
    background: #f03e3d;
}

.blue {
    background: #4d8dff;
}

.support-list-item {
    display: flex;
}

/*#endregion === Section 4 === */

/*#region === Section 5 === */

.colaborate-section {
    padding-top: 0;
    padding-bottom: 150px;
}

.colaborate-section .container {
    display: flex;
    justify-content: space-between;
}

.collaboration-div {
    display: flex;
    flex-direction: column;
    max-width: 486px;
}

.colab-title {
    font-weight: 600;
    font-size: 16px;
    color: #22343d;
}

.colab-descr {
    margin-bottom: 30px;
}

.colab-osn {
    font-weight: 700;
    font-size: 32px;
    margin-bottom: 25px;
    color: #22343d;
    max-width: 304px;
    display: flex;
}

.colab-list {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.colab-h {
    font-weight: 600;
    font-size: 16px;
    line-height: 1.625;
    color: #22343d;
    margin-bottom: 12px;
}

/*#endregion === Section 5 === */

/*#region === Section 6 === */

.process-section {
    padding-top: 0;
    padding-bottom: 100px;
}

.process-section .container {
    max-width: 916px;
}

.process-div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.process-title {
    display: flex;
    font-weight: 700;
    align-items: center;
    font-size: 32px;
    color: #22343d;
    margin-bottom: 25px;
    max-width: 542px;
}

.process-descr {
    display: flex;
    text-align: center;
    color: #22343d;
    margin-bottom: 40px;
    max-width: 542px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.625;
}

.process-list {
    display: flex;
    grid-gap: 20px 100px;
    margin-bottom: 50px;
    flex-wrap: wrap;
}

.process-list-item {
    display: flex;
    justify-content: center;
    width: calc((100% - 100px) / 2);
    gap: 25px;
}

.img-process {
    position: relative;
    bottom: 25px;
}

.process-list-item-p {
    display: flex;
    width: 281px;
    height: 50px;
    font-weight: 500;
    font-size: 16px;
    border-radius: 50px;
    text-align: center;
    color: #2f281e;
    fill: #fff;
    box-shadow: 2px 2px 10px 0 rgba(23, 58, 86, 0.15);
    align-items: center;
    justify-content: center;
}

.process-button {
    align-self: center;
    color: #fff;
    background-color: #02897a;
    font-weight: 700;
    font-size: 16px;
    border-radius: 4px;
    width: 216px;
    height: 53px;
    border: none;
    margin: 0 auto;
}

.process-button:hover .process-button:focus {
    border-bottom: 1px solid black;
}

/*#endregion === Section 6 === */

/*#region === Section 7 === */

.Strategy-section {
    margin-top: 0;
    margin-bottom: 170px;
}

.stra-title {
    font-weight: 700;
    font-size: 34px;
    color: #22343d;
    margin-bottom: 10px;
}

.stra-descr {
    font-weight: 500;
    max-width: 465px;
    font-size: 16px;
    line-height: 1.625;
    color: #22343d;
    margin-bottom: 40px;
}

.stra-div {
    display: block;
}

.stra-list {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.stra-list li:nth-child(2) .stra-h {
    color: #02897a;
}

.stra-item {
    width: calc((100% - 60px) / 3);
    border: 1px solid #dedede;
    border-radius: 8px;
}

.stra-p {
    margin-top: 24px;
    margin-bottom: 12px;
    margin-left: 24px;
}

.stra-h {
    font-weight: 700;
    font-size: 24px;
    line-height: 1.67;
    color: #22343d;
    max-width: 296px;
    margin-left: 27px;
    margin-right: 27px;
    margin-bottom: 40px;
}

.stra-span-text {
    font-weight: bold;
}

/*#endregion === Section 7 === */

/*#region === Section 8 === */

.Table-section {
    padding-top: 0;
}

.tab-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.tab-title {
    font-weight: 700;
    font-size: 34px;
    color: #22343d;
    margin-bottom: 8px;
}

.tab-descr {
    font-weight: 500;
    font-size: 16px;
    color: #22343d;
    margin-bottom: 40px;
}

.tab-div-free {
    display: flex;
    flex-direction: row;
    gap: 72px;
}

.tab-free-list {
    width: calc((100% - (72 * 2px)) / 3);
    border: 1px solid #dedede;
    border: none;
    border-radius: 8px;
    border-radius: 8px;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.25);
    background: #fff;
}

.tab-list-h {
    font-weight: 700;
    font-size: 24px;
    line-height: 1.66667;
    color: #22343d;
    margin-top: 32px;
    margin-bottom: 8px;
}

.tab-list-p {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 2.5;
    color: #22343d;
    margin-bottom: 16px;
    margin-left: 72px;
    margin-right: 72px;
}

.tab-list-div {
    display: flex;
    margin-bottom: 32px;
    align-items: center;
    justify-content: center;
    gap: 7px;
}

.tab-list-item-h {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 76px;
    line-height: 1.31579;
    letter-spacing: 0em;
    text-align: center;
    color: #02897a;
}

.tab-list-div-item {
    text-align: left;
}

.tab-list-item-month {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.1875;
    letter-spacing: 0.01em;
    color: #afafaf;
}

.list-tab-decr :nth-child(3) {
    margin-bottom: 0;
}

.list-tab-decr-item {
    margin-bottom: 16px;
}

.button-stnd {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 18px;
    color: #02897a;;
    border-radius: 8px;
    width: 139px;
    height: 44px;
    background-color: #fff;
    border: none;
    margin: 30px auto 32px auto;
}

.list-tab-decr-item-p {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.375;
    letter-spacing: 0.01em;
    color: #22343d;
}

.tab-list-button {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 18px;
    color: #fff;
    border-radius: 8px;
    width: 139px;
    height: 44px;
    background: #02897a;
    border: none;
    margin: 30px auto 32px auto;
}

.green {
    color: #fff;
    background-color: #02897a;
}

.tab-list-item-p-two {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.25;
    letter-spacing: 0em;
    color: #fff;
    margin-bottom: 7px;
}

.tab-div-list-item-div {
    display: flex;
    margin-bottom: 32px;
    align-items: center;
    justify-content: center;
    gap: 7px;
}

.tab-list-item-p {
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.25;
    letter-spacing: 0em;
    color: #02897a;
}

.grey {
    color: #e0e0e0;
}

/*#endregion === Section 8 === */

/*#region === Section 9 === */

.clients {
    margin-top: 0;
    margin-bottom: 100px;
}

.client-div {
    display: block;
}

.client-div-two {
    display: flex;
    text-align: center;
    flex-direction: column;
}

.client-h {
    font-weight: 700;
    font-size: 32px;
    line-height: 1.78125;
    margin-bottom: 10px;
    letter-spacing: 0.01em;
    color: #22343d;
    margin-top: 98px;
}

.client-desr {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.75;
    letter-spacing: 0.01em;
    text-align: center;
    color: #22343d;
    margin-bottom: 40px;
    max-width: 537px;
    align-self: center;
}

.client-list {
    display: flex;
    flex-direction: row;
    gap: 64px;
}

.client-list-item {
    width: calc((100% - (64 * 2px)) / 3);
    border-radius: 5px;
    border: 1px solid #dedede;
}

.client-list-stars {
    display: flex;
    margin-left: 28px;
    margin-top: 28px;
}

.star-icon {
    fill: #f3cd03;
}

.client-list-stars-item {
    gap: 4px;
}

.client-p {
    margin-right: 26px;
    margin-left: 26px;
    margin-top: 16px;
    margin-bottom: 16px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.75;
    letter-spacing: 0.01em;
    color: #737373;
}

.client-img-list {
    display: flex;
    margin-left: 26px;
    margin-bottom: 28px;
}

.client-h-item-item {
    font-weight: 600;
    margin-left: 14px;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.01em;
    color: #02897a;
}

.client-item-p {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.71429;
    letter-spacing: 0.01em;
    margin-left: 14px;
    color: #252b42;
}

/*#endregion === Section 9 === */

/* #endregion Product Page */

/* #region Pricing Page */

/* #region === Section 1 === */

.prising {
    font-size: 24px;
    font-weight: 600;
    color: #22343d;
    margin-top: 50px;
}

.prising-p {
    font-weight: 700;
    font-size: 40px;
    text-align: center;
    color: #22343d;
}

.prising-p-two {
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    color: #22343d;
}

.prising-font {
    font-family: "Poppins", sans-serif;
}

.prising-inter {
    font-family: "Inter", sans-serif;
}

/* #endregion Section 1 */

/* #region === Section 2 === */
/* #endregion Section 2 */

/* #region === Section 3 === */
/* #endregion Section 3 */

/* #region === Section 4 === */
/* #endregion Section 4 */

/* #endregion Pricing Page */



/*#region === Footer === */

/*#endregion === Footer === */